body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 2px;
    width: 20%;
    color: rgb(90, 212, 198);
    background-color: #feb188;
    border: 2px dashed red;
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 15px;
    background-color: red;
    box-shadow: 7px 7px 7px palevioletred;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}
h1{
   font-family:algeria;
}